@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: linear-gradient(to bottom, #000000, #4b0082, #800080, #a020f0);
}

body, h1, h2, h3, h4, h5, h6, p, span, a, label, button {
  font-family: 'Harlow Solid Italic', cursive;
}


.card {
  background: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(8px); 
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #f8f9fa; 
}

.footer-content {
  margin-bottom: 10px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
